* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  padding: 1em;
  background-color: #fff;
  justify-content: flex-start;
}

nav a {
  color: black;
  background-color: #fff;
  text-decoration: none;
  margin-left: 1em;
}

nav .active {
  color: #c1c525;
}

section {
    display: flex;
}

.into-text {
    background-color: #F5F5F5;
    padding: 3em;
    flex-basis: 60%;
    
}

.into-text span {
    color: #c1c525;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.into-text h1 {
    font-size: 7em;
}

.into-text .button {
    padding: 1em;
    background-color: #fff;
    
}

.into-text .main {
    margin-right: 2em;
    background-color: #c1c525;
}


.intro-image {
    background-color: #c1c525;
    padding: 3em;
    flex-basis: 40%;
}
.intro-image img {
    max-width: 82%;
}

